{% extends "shop/base.html" %}
{% load static %}
{% block content %}
<div class="container my-5">
    <h2>Reset Your Password</h2>

    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">New Password</label>
            <input type="password" name="password" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Confirm Password</label>
            <input type="password" name="password_conf" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success">Change Password</button>
    </form>
</div>
{% endblock %}