{% extends "shop/base.html" %}
{% load static %}
{% block content %}
<div class="container my-5">
    <h2>Reset Password</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="password" class="form-label">New Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="mb-3">
            <label for="password_conf" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="password_conf" name="password_conf" required>
        </div>
        <button type="submit" class="btn btn-success">Reset Password</button>
    </form>
</div>
{% endblock %}