{% extends "shop/base.html" %}
{% load static %}
{% block content %}
<div class="container my-5">
    <h2>Your Cart</h2>
    {% if cart %}
        <table class="table table-striped">
            <thead>
                    <tr>
                    <th>Product</th>
                    <th>Size</th>
                    <th>Frame Colour</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>
                        {% if item.size == "S" %}Small
                        {% elif item.size == "M" %}Medium
                        {% elif item.size == "L" %}Large
                        {% else %}{{ item.size }}{% endif %}
                    </td>
                    <td>{{ item.frame_colour }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>£{{ item.price }}</td>
                    <td>£{{ item.subtotal|floatformat:2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h4>Total: £{{ total|floatformat:2 }}</h4>
        <form method="post" action="{% url 'shop:checkout' %}">
        {% csrf_token %}
            <button type="submit" class="btn btn-primary">Proceed to Checkout</button>
        </form>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
</div>
{% endblock %}