{% extends "shop/base.html" %}
{% load static %}
{% block content %}
<div class="container my-5">
    <h2>Checkout</h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Frame</th>
                    <th>Size</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for key,item in cart.items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.frame }}</td>
                    <td>{{ item.size }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>£{{ item.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <h4>Total: £{{ total }}</h4>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Place Order</button>
        <a href="{% url 'shop:cart' %}" class="btn btn-secondary">Back to Cart</a>
    </form>
</div>
{% endblock %}